.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    font-size: 34px;
    border: 5px solid green;
    border-radius: 21px;
}
button{
    font-size: 40px;
    background: chartreuse;
    width: 102px;
    height: 52px;
    border-radius: 20px;
}
.calculator{
   
    background-color:purple;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    
}